*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/Roboto/Roboto-Regular.ttf"),
}

html,
body {
    height: 100%;
    background-color: #0a0a32 !important;
    font-family: 'Roboto', sans-serif !important;

}
h1{
    color: #fff;
  
}